@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@layer base {
    html, body {
        font-family: 'Roboto', sans-serif;
        /* background-color: #f0f0f0; */
        color: #333;
    }
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Roboto', sans-serif;
        color: #333;
    }
   
}